* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 2px;
}

.logo {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(63, 63, 63);
}

#navbar ul {
    display: flex;


}

#navbar ul li {
    list-style: none;
    margin: 2px 75px;
    padding: 10px;
}

#navbar ul li a {
    font-size: 1.1rem;
    color: rgb(61, 61, 61);
    text-decoration: none;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#welcome-section div{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 500px;
    margin: 2px auto;
}
#form-container div input{
    padding: .2em;
    width: 300px;
    height: 25px;
    margin: 10px;
}
input[type='submit']{
    color: white;
    background-color: brown;
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.05rem;
}
input[type='submit']:hover{
    background-color: rgb(119, 31, 31);
}
#two{
    margin: 80px 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.icon{
    width: 100px;
    padding: 5px 35px;
}
.icon img{
    width: 80px;
    height: 80px;
}
#two div div{
    display: inline-block;
}
#two div{
   margin: 10px auto;;
}
.info{
    margin: 2px 2px;
    padding: 10px 50px;
}
#video{
    width: 570px;
    margin:2px auto; 
}

#offers{
    display:flex;
    justify-content: center;
    
}

.suboffers{
    width:16em;
    border:1px solid black;
    display:inline-block;
    min-height:8em;
    margin:0 1em;
    text-align:center;
    /* padding: .5em; */
    margin-top: 4em;
}

.suboffers h4{
    background:grey;
    height:2em;
}

.suboffers p{
    padding:.2em .5em 0 .5em;
}

.suboffers input[type='button']{
    width:8em;
    height:2em;
    background: blue;
    color:white;
    margin-top:2em;
    border:1px solid blue;
}

footer{
  
    display:block;
    width:52.5em;
    background: grey;
    margin: 1em auto;
    height:4em;
}

footer ul, footer p{
    list-style:none;
    display:block;
    margin-left:10em;
    width:40em;
    text-align:right
}

/* footer p{

} */

footer a{
    text-decoration: none;
    color:black;
}

footer li{
    display:inline-block;
    padding: .2em .5em;
    
}